.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    margin-top: 4px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.icon-categoria{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.img-categoria-icon{
    width: 30px;
}


a {
    text-decoration: none;
}

/* Card Styles */

.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image-prod{
    height: 200px;
    width: 300px;
}


.card-image-prod img {
    height: 300px;
    width: 206px;
    border-radius: 8px 8px 0px 0;
}

.image-fit {
    max-width: 100%;
    max-height: 100%;
}

.card-action-prod {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action-prod:hover {
    color: #fff;
    background: #E26D5C;
    -webkit-animation: pulse 1.5s infinite;
}

.card-heading-prod {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text-prod {
    padding: 3px 5px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button-container{
    display: flex;
    gap: 10px;
}

.card-button-edit, .card-button-delete {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    color: #fff;
    margin: 3px;
    border-radius: 4px;
}

.card-button-edit{
    background-color: #9FE7F5;
}

.card-button-delete{
    background-color: #F7AD19;
}

.btn-add-prod{
    text-decoration: none;    
    border-radius: 3px;
    width: 200px;
    height: 40px;
}


.card-button-edit:hover {
    text-decoration: none;
    background-color: #17caed;
    color: #fff;
}

.card-button-delete:hover {
    text-decoration: none;
    background-color: #d18d05;
    color: #fff;
}

.card-container-cat{
    width: 90%;
    height: 400px;
    
}

.card-body-prod{
    width: 230px;
    height: 200px;
}

.card-home-com {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.card-content {
    display: flex;
}

.card-img-com {
    flex: 0 0 auto;
    margin-right: 20px;
}

.card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 12px;
}

.card-info {
    margin: 0px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header h4 {
    margin-right: 10px;
}

.card-text-com{
    color: #6c7274;
    margin: 0;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-asign{
    height: 30px;
    width: 100px;
    margin-top: 90px;
    margin-left: 700px;
}

.card-home-com-link {
    display: flex;
    text-decoration: none; 
    color: inherit; 
}


  
/* Estilos para el header */
.card-header-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
  
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.img-comercio {
    width: 100px; /* Ajusta el tamaño de la imagen del comercio según tus necesidades */
    height: auto;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}
  
  
.info-prod {
    padding: 20px;
}
  
.product-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px; 
}
  
.img-prod img {
    width: 70px; 
    height: auto;
    border-radius: 5px; 
}
  
.name-prod, .price-prod {
    flex: 1; 
}
  
.product-separator {
    border: 0;
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
}
  
.linea {
    height: 2px;
    background-color: #ccc;
    width: 100%; 
    margin: 20px 0; 
}

.container-total {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 10px 0; 
}
  
.total {
    margin: 0; 
}
  
.total-price{
    margin-right: 2%;
}
.total-price h5 {
    margin: 0;
}
  
.price-prod{
    margin-left: 75%;
}

.btn-add {
    background-color: #F27F0C;
    border-color: #F27F0C;
    color: white; /* Color de fuente blanco */
    width: auto;
  }
  
  .btn-add:hover {
    background-color: #e06500; /* Color más oscuro para hover */
    border-color: #e06500;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-edit {
    background-color: #F7AD19;
    border-color: #F7AD19;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-edit:hover {
    background-color: #d89a0c; /* Color más oscuro para hover */
    border-color: #d89a0c;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-delete {
    background-color: #053F5C;
    border-color: #053F5C;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-delete:hover {
    background-color: #042d45; /* Color más oscuro para hover */
    border-color: #042d45;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-home {
    background-color: #d8a775;
    border-color: #d8a775;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-home:hover {
    background-color: #b78a61; /* Color más oscuro para hover */
    border-color: #b78a61;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-search {
    background-color: #429EBD;
    border-color: #429EBD;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-search:hover {
    background-color: #2f7a9c; /* Color más oscuro para hover */
    border-color: #2f7a9c;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-back {
    background-color: #1691cf;
    border-color: #1691cf;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-back:hover {
    background-color: #1179b8; /* Color más oscuro para hover */
    border-color: #1179b8;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-cancel {
    background-color: #818684;
    border-color: #818684;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-cancel:hover {
    background-color: #6f7477; /* Color más oscuro para hover */
    border-color: #6f7477;
    color: white; /* Color de fuente blanco en hover */
  }
  
  .btn-pedir {
    background-color: #ea9d71;
    border-color: #ea9d71;
    color: white; /* Color de fuente blanco */
  }
  
  .btn-pedir:hover {
    background-color: #d88a5c; /* Color más oscuro para hover */
    border-color: #d88a5c;
    color: white; /* Color de fuente blanco en hover */
  }
  
  