<div class="container mt-4">
  <h5 class="mb-5">Hola. ¿Qué vas a pedir hoy?</h5>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/restaurantes" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/restaurantes.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de restaurante"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Restaurantes</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/mercados" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/mercado.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de mercado"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Mercados</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/bebidas" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/bebidas.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de bebida"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Bebidas</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/postres_cafe" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/cafeypostre.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de cafe y postre"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Café y Postres</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/tiendas" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/tienda.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de tienda"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Tiendas</h5>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div
        class="card h-100 text-center shadow-sm comercio-card"
        style="border: none;"
      >
        <a href="/comercios/salud" style="text-decoration: none; color: inherit;">
          <img
            src="/assets/img/salud.png"
            class="card-img-top mx-auto mt-3"
            alt="Logo de salud"
            style="max-height: 150px; max-width: 100px; object-fit: contain;"
          />
          <div class="card-body">
            <h5 class="card-title comercio-title">Salud</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
