<div class="row">
    <div class="col-12">
        <h2>Recuperar Contraseña</h2>

        <h6>Ingresa tu Correo Electrónico</h6>
       <form method="post" action="/search-password" class="needs-validation" novalidate>
         <div class="form-group mb-4">
            <label for="email" class="mt-4">Correo Electrónico</label>
            <input
            type="email"
            class="form-control mt-2"
            name="email"
            id="email"
            placeholder="Ingresa tu correo"
            required
            />
            <div class="valid-feedback">Good!</div>
            <div class="invalid-feedback">Please enter an email.</div>
        </div>
          <button type="submit" class="btn btn-primary btn-block mb-4 ">Enviar</button>
       </form>
    </div>
</div>