<div class="row">
    <div class="col-12">
        <h1>Confirmar eliminacion</h1>
        <p>Estas seguro de eliminar {{productos.name}}?</p>

        <form method="post" action="/comercios/deleteProducto" class="form-delete">
            <input type="hidden" name="id" value="{{productos.id}}">
            <button type="submit" class="btn btn-danger delete-pokemon">Delete</button>
            <a href="./viewProducto" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>